/* Define colors */
:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --text-color: #333; /* Dark Gray */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a nice font */
  background-color: #f5f5f5; /* Light Gray */
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  width: 90%;
  max-width: 800px;
  background-color: #fff; /* White */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.table-container {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

ul {
  padding-left: 0; /* Remove default padding */
  list-style-type: none;
}

/* Style links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Side panel */
.side-panel {
  display: none; /* Hide the side panel by default */
  width: 250px; /* Adjust the width as needed */
  background-color: var(--primary-color); /* Use primary color for side panel background */
  color: #fff; /* White text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.show-panel .side-panel {
  display: block; /* Show the side panel when .show-panel class is present */
}

