/* Define colors */
:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --text-color: #333; /* Dark Gray */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a nice font */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  height: 95vh;
  max-width: 95vw;
  margin: auto;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  width: 90%;
  max-width: 800px;
  background-color: #fff; /* White */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  margin:auto;
}

.table-container {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin:auto;
  padding: 30em;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

ul {
  padding-left: 0; /* Remove default padding */
  list-style-type: none;
}

/* Style links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Side panel */
.side-panel {
  display: inline-flex; /* Use flexbox to arrange items */
  flex-direction: row; /* Arrange items vertically */
  padding: 10px 50px 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inline-headings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

/* Style for individual heading elements */
.inline-headings-container h3 {
  margin-right: 20px; /* Add some spacing between headings */
}

.dropdown{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
